{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["prettier", "svelte3"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "extends": ["airbnb", "prettier"],
  "overrides": [
    {
      "files": ["**/*.svelte"]
    }
  ],
  "rules": {
    "no-unused-vars": 1,
    "prettier/prettier": 1
  }
}